<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i>
		<a href="/">Home</a> 
		<i class="icon-angle-right"></i>
	</li>
	<li><a id="breadcrumb_1" href="#">Network</a></li>
</ul>

<style>

tr:hover {
	cursor: pointer;
}

</style>

<div class="box">
	<div class="box-header" data-original-title="">
		<h2><i class="halflings-icon list"></i><span class="break"></span>Switch List</h2>
		<div class="box-icon">
			<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
		</div>
	</div>
	<div class="box-content">
		<div class="bs-example table-responsive" data-example-id="simple-table">
		    <table class="table table-striped table-hover table-bordered" id="switchList">
		      <caption>Select the day: <input type="text" id="datepicker"></caption>
		      <thead>
		        <tr>
		          <th>#</th>
		          <th>MAC</th>
		          <th>IP</th>
		        </tr>
		      </thead>
		      <tbody>
		        
		      </tbody>
		    </table>
  		</div>
	</div>
</div>




<script src="js/app/network.js"></script>
<script>
$(function() {
	$('.btn-minimize').on('click', function(e){
			console.log("min");
			e.preventDefault();
			var $target = $(this).parent().parent().next('.box-content');
			if($target.is(':visible')) $('i',$(this)).removeClass('chevron-up').addClass('chevron-down');
			else 					   $('i',$(this)).removeClass('chevron-down').addClass('chevron-up');
			$target.slideToggle();
		});
})
</script>
