#!/usr/bin/python

"""
This file create the network topology and play around it
"""

from mininet.net import Mininet
from mininet.topo import *
from mininet.node import Controller, OVSKernelSwitch, RemoteController
from mininet.link import TCLink
from mininet.cli import CLI
from subprocess import call
from functools import partial
import sys
import httplib,json, time
import random
import math

hosts = []

#build topology
def buildTopo():
	print '*** Init Topology'
	topology=Topo()