body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	position:relative;
}

#graphDiv {
	width: 50%;
	height: auto;
	min-height: 300px;
	position: relative;
	float:left;
}

#graphDivSwitchFlow {
	width: 50%;
	height: auto;
	min-height: 300px;
	position: relative;
	float: left;
}


fieldset {
	border:0;
	padding:0; margin:0;
}