	print "*** Testing network"
	net.pingAll()

	print "*** Running CLI"
	CLI( net )

	print "*** Stopping network"
	net.stop()

if __name__ == '__main__':
	setLogLevel( 'info' )  # for CLI output
	ControllerNet()